<!DOCTYPE html>
<html>
  </body> 
    <%- include('./partials/head') %>
    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/nav') %>
          <div class="col-sm-10">
            <% if(authorDetails){%>          
              <h1>Author: <%= authorDetails.author.name %> </h1>
              <p><%= authorDetails.author.lifespan %></p>
              <h4>Books</h4>
              <% if(authorDetails.books.length >0){%>
                <% authorDetails.books.forEach(book =>  { %> 
                  <dl>
                    <a href="<%=book.url%>"><%=book.title %> </a>
                    <dd><%=book.summary%></dd>    
                  </dl>
                <%})%> 
              <% }else{ %>  
                <p>No books to display</p>
              <% } %> 
              <hr>
              <p>
                <a href=<%=authorDetails.author.url+'/delete'%>> Delete author</a>
              </p>
            <% } else {%>
              <p>Author not Found</p>
             <% } %> 
</div>
</div>
</div> 
</body>
</html>