<!DOCTYPE html>
<html>
  </body> 
    <%- include('./partials/head') %>
    <div class="main-content">
    <%- include('./partials/nav') %>

  
     
          <div>
<h1><%= title %> </h1>
<ul>
<% if(author_list.length >0){%>
    <% author_list.forEach(author =>  { %> 
        <li>
        
         <p><a href="<%=author.url%>"><%=author.name %>
         </a>
         |
         <%= author.lifespan%> </p>
        
    </li>
    <%  })  %> 
    <% }else{ %> 
        <li>
        <h2>No authors to display</h2>
    </li>
    <% } %> 
</ul>

</div>
</div> 
</body>
</html>