<!DOCTYPE html>
<html>
  </body> 
    <%- include('./partials/head') %>
    <div class="container-fluid">
      <div class="row">
        <%- include('./partials/nav') %>
          <div class="col-sm-10">
<h1><% title %> </h1>
<ul>
<% if(book_list.length >0){%>
    <% book_list.forEach(book =>  { %> 
        <li>
        
         <p><a href="<%=book.url%>"><%=book.title %>
         </a>
         (<%= book.author.name%>)</p>
        
    </li>
    <%  })  %> 
    <% }else{ %> 
        <li>
        <h2>No books to display</h2>
    </li>
    <% } %> 
</ul>
</div>
</div>
</div> 
</body>
</html>