<!DOCTYPE html>
<html>
  </body> 
    <%- include('./partials/head') %>
    <div class="main-content">
      <%- include('./partials/nav') %>
      <div class="row">
          <div class="col-sm-10">
          
          <h1><%= title %></h1>
          <p>Welcome to Local Liblary, Please add your favorite books, genres, and authors </p> 
          <h1>Current Inventory</h1>
          <% if(error){ %> 
            <p> Error getting dynamic content</p>
          <% }else { %>
            <p>The library has the following record counts</p>
            <ul>
              <li>Books: <%=data.book_count%></li>
              <li>Copies: <%=data.book_instance_count%></li>
              <li>Copies available: <%=data.book_instance_available_count%></li>
              <li>Authors: <%=data.author_count%></li>
              <li>Genres: <%=data.genre_count%></li>
            </ul>
        <% } %> 
      </div>
     </div>
    </div> 
  </body>
</html>
